Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  concurrency-*,
  portability-*,
  readability-braces-around-statements,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling

CheckOptions:
  readability-braces-around-statements.ShortStatementLines: 0

HeaderFilterRegex: '.*/(src|include|apps)/.*'
